$dark_blue: #043962;
$light_blue: #008bd2;
$accent_blue: #33a9de;
$off_white: #f0f3f6;
$red: #eb212e;

html {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
  background-color: #fdfdfd;
}

body {
  margin: 0;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

p {
  margin: 0em 0em 1em;
}

a {
  color: #1a1a1a;

  i {
    margin: 5px;
  }
}

a:visited {
  color: #1a1a1a;
}

img {
  // max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
}

h2,
h3 {
  font-weight: 400;
}

h2,
h3,
h4,

{
margin-top: 1.4em;
margin-bottom: 0.2em;
}

h5 {
  font-size: 1.0em;
  font-weight: bold;
  font-style: normal;
  // text-transform: uppercase;
  // display: inline;
}

h6 {
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}





blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}

pre {
  margin: 1em 0;
  overflow: auto;
}

pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}

.sourceCode {
  background-color: transparent;
  overflow: visible;
}

hr {
  background-color: $dark_blue;
  border: none;
  height: 1px;
  margin: 0.2em 0 1em;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}


.exp-section {
  .section-content p {
    font-style: italic;
  }

  header {
    margin-top: 3.0em;
    margin-bottom: 0.8em;

    h2,
    hr {
      margin: 0;
    }
  }

}

.exp {
  margin: 1em 0 2em;

  .tag-list {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

.exp-title {
  display: inline;
}

.date {
  display: inline;
}

.exp-content {
  a {
    color: $light_blue;
    text-decoration: none;
    font-size: 0.9em;

  }

  a:visited {
    color: $light_blue;
  }

  a::before {
    content: '\f08E';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 2px 0px 0px;
  }

  p {
    margin: 0;
  }

  h4,
  h5,
  h6 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

}

#TOC li {
  list-style: none;
}

#TOC ul {
  padding-left: 1.3em;
}

#TOC>ul {
  padding-left: 0;
}

#TOC a:not(:hover) {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}


.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}



#main {
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark_blue;
  }
}

header {
  margin-top: 100px;
  margin-bottom: 4em;
  // text-align: center;

  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: -0.7em;
  }

  #my-name {}

  #my-title {
    color: $light_blue;
  }
}

.tag {
  display: inherit;
  margin: 0;

  div {
    display: inherit;
    padding: 0.2em;
  }


  a {
    margin: -0.5em;
    font-size: 0.8em;
    margin-right: 0.2em;
    padding: 0.2em 1em;
    border-radius: 1em;
    text-align: center;
    color: white;
    background: $light_blue;
    text-decoration: none;
  }
}

ul.tag-list {
  list-style: none;
  line-height: 1.1em;
}

:hover.tag {
  div {
    padding-left: 5px;
    padding-right: 5px;
  }

  a {
    background: $accent_blue;
    padding-left: 1.2em;
    paddingright: 1.2em;
  }
}

#sidebar {
  min-width: 230px;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  transition: background-color 0, all 0.8s;
  top: 0;
  position: sticky;
  z-index: 4;
  padding-left: 3%;
  padding-right: 3%;
  background: $dark_blue;
  color: white;


  a {
    color: white;
  }


  #profile-join {
    position: relative;
    top: 0;
    left: 0;
  }

  #profile-img {
    display: block;
    margin: 3px;
    border: 3px solid white;
    border-radius: 12px;
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    height: 230px; // wkhtmltopdf needs this...

    img {
      display: block;
    }
  }

  @media print {
    color: $dark_blue;
    background: white;
    display: -webkit-box;

    #skills {
      ul {
        width: 80%;

      }

      li.tag {
        margin-top: 3mm;
      }
    }

    a {
      color: $dark_blue;
    }

    .tag {
      a {
        color: white;
      }
    }


    #profile-img {
      border: 3px solid $dark_blue;

    }
  }

  #logo {
    position: absolute;
    top: 115px;
    left: 28px;
    scale: 60%;
  }


  .header {
    // padding-top: 50px;
    margin-top: 35px;
  }


  h2,
  h3 {
    margin-bottom: 0;
  }


  ul,
  ol {
    text-align: left;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }


  ul.social-links {
    color: white;
    list-style-type: none;

    a {
      text-decoration: none;
    }

    :hover {
      a {
        color: $accent_blue;
      }
    }

    i {
      margin-right: 5px;
    }
  }

  @media (max-width: 900px),
  print,
  (orientation: portrait) {
    // position: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;


    #skills {
      margin-top: 35px;
      margin-left: 50px;

      h3 {
        margin-top: 0px;
      }
    }

    .tag {
      font-size: 1.4em;
      margin-top: 0.2em;
    }

    .tag-list,
    .contact,
    .header {
      display: inline-block;
    }
  }

  .content {
    // position: sticky;
    // top: 0;
  }
}

@media (max-width: 900px),
print,
(orientation: portrait) {

  div {
    -webkit-print-color-adjust: exact
  }

  div.exp-section {
    page-break-inside: avoid;
  }

  div.page {
    // page-break-after: always;
    break-inside: avoid;
  }

  .wrapper {
    display: revert;
  }


  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 2.5em;
  }

  #sidebar {
    padding-bottom: 3%;
  }

}