<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <title>Glenn CV</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?
  family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ get_url(path="style.css") }}">
  <link rel="short icon" href="{{ get_url(path="favicon-16x16.png") }}" type="image/x-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
</head>

<body>
  <div class=wrapper>
    <div id=main>
      <div class=content>
        {% block content %} {% endblock %}
      </div>
    <div class="content-end">
      <hr>
    </div>
  </div>

  <div id=sidebar>
    <div class=header>
      <div id="profile-join">
        <img id="profile-img" src="{{ get_url(path="profile.jpg") }}" alt="profile-img">
      </div>
      <div class=contact>
        <h2>Lets Talk</h2>
        <ul class="social-links">
          <li><a href="https://github.com/GlennWSo" aria-label="Go to Github profile page">
              <i class="fab fa-github"></i>GlennWSo</a></li>
          <li><a href="mailto:ghresume.34u86@simplelogin.com" aria-label="Mail me">
              <i class="fas fa-envelope"></i>Mail me</a></li>
          <li><a href="placeholder" aria-label="Mail me">
              <i class="fas fa-print"></i>Print format</a></li>
        </ul>
      </div>
    </div>

    <div id=skills>
      <h3>Skills</h3>
      {% set tags = get_taxonomy(kind="tags") %}
      <ul class="tag-list">
        {%for term in tags.items%}
        <li class="tag">
          <div>
            <a href={{term.permalink}}>{{term.name}}</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</body>

</html>