{% extends "base.html" %}


{% block content %}
<header>
  <h3 id="my-title">Software Developer & Mechanical Engineer</h3> 
  <h1 id="my-name">Glenn Winbo Sondell</h1>
</header>

<div id=bio>
  <h2 id="bio">About Me</h2>
  <hr>
  <p>Glenn is a mechanical engineer and a self-taught software developer.
  His multidisciplinary background helps him understand the needs
    and challenges that people of different backgrounds face. This makes him an
    excellent developer, problem solver, communicator and team-player. </p>

  <p> Glenn can help you with anything from writing firmware in Rust to
    automated testing in Python. He has great math skills and use
    them to solve problems related to mechanics, 3D-graphics, modeling and simulations.</p>

  <h4>Background:</h4>
  <p> Glenn started out as a mechanical engineer, but recently been more involved with software
    development projects. Glenn loves tinker with things and learn about new technologies.
    In particular Glenn was drawn to software development because it allows for faster iterations.
    Just compile and you get new a prototype to experiment with. Even rust compiles faster than a 3D-printer! 
  </p>
  <p>  
    While his python is the programing language he has most experice with, he well leap at the opertunity to learn new tools. 
    Having used mypy and pytest in larger projects, he knows the value automated testing. 
    Glenn favorite language is rust, a language with emphasis on strong typing, correctness and memory safety.
  </p>
</div>

<div id="exp-sections">

    <!-- sort subsection by path to content -->
    {% for sub_path in section.subsections | sort%}

    {% set section = get_section(path=sub_path) %}
    <div class="exp-section">
        <header>
          <h2> {{section.title}} </h2>
          <hr>
        </header>
      <div class="section-content">
        {{ section.content | safe}}
      </div>
      {% for page in section.pages %}
        {% include "exp.html" %}
      {% endfor %}
    </div>
    {% endfor %}

</div>


{% endblock content %}