{% extends "base.html" %}


{% block content %}
<header>
  <h1 id="my-name">Glenn Winbo Sondell</h1>
  <h2 id="my-title">Software Developer and Mechanical engineer</h2>
</header>

<div id=bio>
  <h2 id="bio">About Me</h2>
  <p>Glenn is a passionate software developer, he even codes electric sheep
    to fall asleep. His multidisciplinary background helps him understand the needs
    and challenges that people of different backgrounds face. This makes him an
    excellent developer, tech-lead and team-player. </p>

  <h5 hidden>For the impatient reader:</h5>
  <p> He can help you with <em>anything</em> from writing firmware in Rust to
    machine learning in Python. Glenn has great math skills and uses
    those to solve problems related to 3D graphics, modeling and physics
    simulations.</p>

  <h5>Background:</h5>
  <p> He started his carrier as mechanical engineer, but has now changed tracks to software
    development. The reason behind this change was simple, he loves to create
    and to iterate fast! Glenn found his love for programing when he studied
    optimization and automation of mechanical design. Now his strongest
    language is Python, but he prefers to use Rust whenever possible. </p>
</div>

<div id="work-exp">
  <h3 id="work-experience">Experience</h2>
    <hr>

    {% for sub_path in section.subsections%}

    {% set sw_work = get_section(path=sub_path) %}
    <h1> {{sw_work.title}} </h1>
    {% for page in sw_work.pages %}
    <div class="exp">
      <div>
        <h5 class="exp-title"> {{ page.title | safe}} </h5>
        <h6 class="date"><em>{{ page.date | safe}}</em></h6>
        <h6 class="date"> .. </h6>
        <h6 class="date"><em>{{ page.extra.duration | safe}}</em></h6>
      </div>
      {{ page.content | safe}}
      <p><strong>Tools: </strong>
        {% for tag in page.taxonomies.tags %}
        <a class="tag" href="{{ get_taxonomy_url(kind="tags", name=tag, lang=page.lang) | safe }}">{{tag}}</a>
        {% endfor %}
      </p>
    </div>
    {% endfor %}
    {% endfor %}

</div>


{% endblock content %}