{% extends "base.html" %}


{% block content %}
<header>
  <h3 id="my-title">Software Developer & Mechanical Engineer</h3>
  <h1 id="my-name">Glenn Winbo Sondell</h1>
</header>


<!-- <div id=bio> -->
<!-- {{ section.content | markdown(inline=true) | safe }} -->
<!-- </div> -->

<div id="exp-sections">

  <!-- sort subsection by path to content -->
  {% for sub_path in section.subsections | sort%}

  {% set section = get_section(path=sub_path) %}
  <div class="exp-section">
    <header>
      <h2> {{section.title}} </h2>
      <hr>
    </header>
    <div class="section-content">
      {{ section.content | safe}}
    </div>
    {% for page in section.pages %}
    {% include "exp.html" %}
    {% endfor %}
  </div>
  {% endfor %}

</div>


{% endblock content %}