html {
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
  background-color: #fdfdfd;
}

body {
  margin: 0 auto;
  // padding-left: 4%;
  // padding-right: 4%;
  // padding-top: 50px;
  // padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */




@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

p {
  margin: 0em 0em 1em;
}

a {
  color: #1a1a1a;
}

a:visited {
  color: #1a1a1a;
}

img {
  // max-width: 100%;
}

h1,
h2,
h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
}

h2,
h3 {
  font-weight: 400;
}

h2,
h3,
h4,

{
margin-top: 1.4em;
margin-bottom: 0.2em;
}

h5 {
  font-size: 1.0em;
  font-weight: bold;
  font-style: normal;
  // text-transform: uppercase;
  // display: inline;
}

h6 {
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}


blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
  font-size: 85%;
  margin: 0;
}

pre {
  margin: 1em 0;
  overflow: auto;
}

pre code {
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}

.sourceCode {
  background-color: transparent;
  overflow: visible;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 0.2em 0 1em;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
  margin-bottom: 4em;
  text-align: center;
}

.exp {
  margin: 1em 0 2em;
}

.exp-title {
  display: inline;
}

.date {
  display: inline;
}

.exp-content {
  p {
    // display: inline;
  }

  h5 {
    // display: inline;
  }

}

#TOC li {
  list-style: none;
}

#TOC ul {
  padding-left: 1.3em;
}

#TOC>ul {
  padding-left: 0;
}

#TOC a:not(:hover) {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

.display.math {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}



#main {
  padding-left: 3%;
}


$dark_blue: #043962;
$light_blue: #008bd2;
$accent_blue: #33a9de;
$off_white: #f0f3f6;

#sidebar {
  min-width: 200px;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  transition: background-color 0, all 0.8s;
  top: 0;
  position: sticky;
  z-index: 4;
  padding-left: 3%;
  padding-right: 3%;
  background: $dark_blue;
  color: white;

  // font-color: white;
  a {
    color: white;
  }


  #profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
  }


  .header {
    padding-top: 50px;

  }

  li {
    list-style-type: none;

    .tag-count,
    i {
      margin-right: 10px;
    }

    a {
      text-decoration: none;
    }
  }

  ul,
  ol,
  li {
    text-align: left;
    padding-left: 0;
  }

  li {
    display: block;
  }

  .contact {}

  @media (max-width: 700px) {
    position: none;

    #tag-list,
    .contact,
    .header {
      display: inline-block;
    }
  }

  .content {
    // position: sticky;
    // top: 0;
  }

  #skills {

    padding-bottom: 1.3em;

    ul {
      line-height: 1.3em;
    }


    li {
      display: inherit;
      margin: 0;

      div {
        display: inherit;
        padding: 0.2em;
      }

      a {
        margin: -0.5em;
        font-size: 0.8em;
        margin-right: 0.2em;
        padding: 0.2em 1em;
        border-radius: 1em;
        text-align: center;
        background: $light_blue;
      }
    }

    :hover.tag {
      // margin: 10px;

      div {
        padding: 5px 5px;
        // margin: 10px;
      }

      a {
        background: $accent_blue;
        padding: 0.3em 1em;
      }
    }

    :hover li {
      // margin: 10px;
      // line-height: 4px;
      // height: 30px;
    }

  }

}

@media (max-width: 700px) {
  .wrapper {
    display: revert;
  }

  body {
    font-size: 0.9em;
  }

  h1 {
    font-size: 1.8em;
  }

}